.layout-image {
  width: 600px;
  height: auto;
}

.chart-layout-container {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  margin:20px 0; 
}


.bar-chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;

  
}

.chart-container h3{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: 16px;
  color:rgb(0, 0, 0, 1);
  


}


.day-selector {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
  
}

.day-selector label {
  display: flex;
  font-size: 18px;
  margin-left: 10px;
  
}

.day-selector div {
  padding: 1% 30px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  
  
}

.day-selector select:focus {
  border-color: #000000; 
  height: 1px;
}
.day-selector div:hover {
  border-bottom: 1px solid grey;
  

}
.day-selector div.active {
  border-bottom: 1px solid black; 
  
  align-items: center;
  
}



.App {
  font-family: Arial, sans-serif;
  color: #000; 
}
